.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    font-family: 'Public Sans';
}
 
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    flex-wrap: wrap;
    padding: 2rem 0rem;
    gap: 2em;
    position: relative;
    z-index: 200;
}

.nav-links {
    display: flex;
    gap: 1.5em;
}

.nav-links > a {
    color: hsl(233, 8%, 62%);
    text-decoration: none;
    font-size: 14px;
}

.nav-cta {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%) , hsl(192, 70%, 51%)); 
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.jumbotron-cta {
    margin-top: 2rem;
}

.jumbotron-cta a {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%) , hsl(192, 70%, 51%)); 
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.jumbotron {
    display: flex;    
    padding-left: 7rem;
    gap: 1em;
    background-color: hsl(0, 0%, 98%);
    margin-bottom: -10rem;
    position: relative;
    z-index: 100;
}

.jumbotron-text {
    margin-top: 5rem;
    max-width: 40%;
    flex-grow: 1;
}

.jumbotron-subheadline {
    color: hsl(233, 8%, 62%);
    line-height: 1.5rem;
    width: 42ch;
}

.jumbotron-image {
    max-width: 60%;
    margin-top: -8rem;
    background-image: 
        url('../images/image-mockups.png'),        
        url('../images/bg-intro-desktop.svg');
    background-position: center left 7rem, center left;
    background-repeat: no-repeat, no-repeat;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    height: 60rem;
}

.jumbotron-headline {
    color: hsl(233, 26%, 24%);
    font-size: 3rem;
}

.why-choose {
    background-color: hsl(220, 16%, 96%);
    position: relative;
    z-index: 150;    
    padding: 5rem 7rem;
}

.section-headline {
    color: hsl(233, 26%, 24%);   
    font-size: 2rem;        
}

.why-choose > p {
    color: hsl(233, 8%, 62%);
    margin: 6px 0px;
    font-size: 18px;
}

.featured-box {
    display: flex;
    gap: 1.5em;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.featured-box > * {
    flex-grow: 1;
    max-width: 15rem;
}

.featured-headline {
    color: hsl(233, 26%, 24%);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 100;
}

.featured-text {
    color: hsl(233, 8%, 62%);    
    font-size: 16px; 
    line-height: 1.5rem;
}

.latest-articles {
    padding: 5rem 7rem;
    background-color: hsl(0, 0%, 98%);
}

.article-box {
    display: flex;
    gap: 1.5em;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.article-box > * {
    flex-basis: 20%;
    flex-grow: 1;
}

.article-headline {
    color: hsl(233, 26%, 24%);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 100;
}

.article-text {
    color: hsl(233, 8%, 62%);    
    font-size: 16px; 
    line-height: 1.5rem;
}

.article-item img {
    height: 13rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

footer {
    padding: 2.5rem 7rem;
    background-color: hsl(233, 26%, 24%);    
    margin-top: auto;
    display: flex;    
    flex-wrap: wrap;
}

footer > * {
    flex-grow: 1;
}

.brand-social {
    display: flex;
    gap: .75rem;
    margin-top: 3rem;
}

.help-links {
    display: flex;
    gap: 1.5em;
}

.help-links ul {
    list-style: none;    
    margin-top: 0px;
}

.help-links a {
    color: hsl(233, 8%, 62%);
    text-decoration: none;
    line-height: 2rem;
}

.footer-cta {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 2em;
}

.footer-cta a {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%) , hsl(192, 70%, 51%)); 
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.footer-disclaimer {
    color: hsl(233, 8%, 62%);
    margin-top: 1rem;
}

@media(max-width: 450px) {
    footer {
        flex-direction: column;
        padding: 2.5rem;
        align-items: center;
    }

    .footer-cta {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 2em;
        margin-top: 2em;
    }

    .help-links {
        flex-direction: column;
        gap: 0;
        margin-top: 1.5em;
    }

    .help-links ul {
        margin-bottom: 0px;
    }

    .brand-social {
        margin-top: 1rem;
    }

    .jumbotron-image {
        background-position: center center, center center;
        height: 30rem;
        background-size: 164%;
        max-width: none;
        margin-top: 0;
    }

    .jumbotron {
        padding-left: 0;
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .jumbotron-text {
        max-width: none;
        text-align: center;
        padding: 0px 2rem;
    }

    .jumbotron-headline {
        font-size: 2rem;
    }

    .jumbotron-subheadline {
        width: auto;
    }

    .jumbotron-cta {
        margin: 2rem 0;
    }

    .latest-articles, .why-choose {
        padding: 5rem 2.5rem;
    }

    .article-box {
        flex-direction: column;
    }
}